<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Embed webview metadata -->
    <%- "<script>const webviewMetadata = " + JSON.stringify(webviewMetadata) + ";</script>" %>
    <%- "<script>const dependencyInfo = " + JSON.stringify(dependencyInfo) + ";</script>" %>

    <!-- CSS Stylesheets -->
    <% cssURIs.forEach(cssURI => { %>
        <link rel="stylesheet" href="<%- cssURI %>">
    <% }) %>
    <!-- JS Scripts -->
    <% jsURIs.forEach(jsURI => { %>
        <script src="<%- jsURI %>" defer></script>
    <% }) %>
</head>
<body>
    <div class="svg-container">
        <svg></svg>
    </div>
    <div class="settings_panel">
        <header class="settings_header">
            <span class="settings_title">Settings</span>
            <span class="button-toggle_settings">
                <img src="<%= webviewMetadata.extensionWebviewURI %>/assets/icons/settings-gear.svg" alt="">
            </span>
        </header>
        <div class="settings_content">
            <vscode-checkbox id="checkbox-hide_modules">Hide NodeJS modules</vscode-checkbox>
        </div>
    </div>
</body>
</html>
        
