<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Embed webview metadata -->
    <%- "<script>const webviewMetadata = " + JSON.stringify(webviewMetadata) + ";</script>" %>
    <%- "<script>const dependencyInfo = " + JSON.stringify(dependencyInfo) + ";</script>" %>

    <!-- CSS Stylesheets -->
    <% cssURIs.forEach(cssURI => { %>
        <link rel="stylesheet" href="<%- cssURI %>">
    <% }) %>
    <!-- JS Scripts -->
    <% jsURIs.forEach(jsURI => { %>
        <script src="<%- jsURI %>" defer></script>
    <% }) %>
</head>
<body>
    <div class="svg-container">
        <svg></svg>
    </div>
    <div class="panel settings_panel">
        <header class="panel_header">
            <span class="panel_title">Settings</span>
            <span class="button-toggle_panel">
                <%- settings_icon %>
            </span>
        </header>
        <div class="panel_content">
            <form action="" id="form-settings">
                <vscode-checkbox name="removeNodeModules" id="checkbox-hide_modules">Hide NodeJS modules</vscode-checkbox>
                <vscode-checkbox name="minimalFilepaths" id="checkbox-minimal_filepaths">Shorten filepaths</vscode-checkbox>
                <vscode-checkbox name="hideFilenames" id="checkbox-hide_filenames">Hide filenames</vscode-checkbox>
            </form>
        </div>
    </div>
    <div class="panel preview-panel">
        <header class="panel_header">
            <span class="panel_title">Preview</span>
            <span class="button-toggle_panel">
                <%- preview_icon %>
            </span>
        </header>
        <div class="panel_content">
            Preview Panel!
        </div>
    </div>
</body>
</html>
        
